<body>
<ul class="navbar">
  <li><%= link_to('Home',{:controller => 'welcome'},{:action => 'index'}) %>
  <li><%= link_to('Comments', {:controller => 'comments'}, {:action => 'comments#index'}) %>
</ul>
<div class="comments">
  <div class="container">
    <%= link_to 'New Comment', "new" %>
    <% @comments.reverse.each do |comment| %>
      <div class="comment">
        <p class="content"><%= comment.content %></p>
        <p class="time"><%= comment.created_at %></p>
      </div>
    <% end %>
  </div>
</div>
</body>