<body>
<ul class="navbar">
  <li><%= link_to('Home',{:controller => 'welcome'},{:action => 'index'}) %>
  <li><%= link_to('Comments', {:controller => 'comments'}, {:action => 'index'}) %>
</ul>
<div class="create">
  <div class="container">

    <%= form_for(@comment) do |f| %>
      <div class="field">
        <%= f.label :comment %><br>
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit "Create" %>
      </div>
    <% end %>
  </div>
</div>
</body>